<app-page-header>
  <h1 tooltip="Test tooltip" class="text-3xl font-bold text-gray-900">
    Dashboard
  </h1>
  <app-btn (click)="openModal()"> New member </app-btn>
</app-page-header>
<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <app-table>
      <app-table-header [titles]="tableHeaders"></app-table-header>
      <app-table-body>
        <tr
          *ngFor="let item of memberService.people$ | async"
          class="hover:bg-gray-50 cursor-pointer"
        >
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  class="h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60"
                  alt=""
                />
              </div>
              <div class="ml-4">
                <div class="text-sm font-medium text-gray-900">
                  {{ item.firstName }} {{ item.lastName }}
                </div>
                <div class="text-sm text-gray-500">{{ item.email }}</div>
              </div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">
              {{ item.title }}
            </div>
            <div class="text-sm text-gray-500">Optimization</div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <span
              class="
                px-2
                inline-flex
                text-xs
                leading-5
                font-semibold
                rounded-full
                bg-green-100
                text-green-800
              "
            >
              Active
            </span>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            Admin
          </td>
          <td
            class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
          >
            <a
              [queryParams]="{ page: 'dashboard' }"
              [routerLink]="['/member', item.id]"
              class="text-indigo-600 hover:text-indigo-900"
              >Edit</a
            >
          </td>
        </tr>
      </app-table-body>
    </app-table>

    <ngb-pagination
      [page]="page"
      [pageSize]="1"
      [collectionSize]="memberService.people.length"
      (pageChange)="pageChange($event)"
    ></ngb-pagination>
  </div>
</div>
